<%= form_for(@student) do |f| %>

    <%= f.label :name %> </br> 

    <%= f.text_field :name %> </br> 

    <%= f.label :username %> </br> 

    <%= f.text_field :username %> </br> 

    <%= f.label :age %> </br> 

    <%= f.text_field :age %> </br>

    <%= f.label :rombel %> </br> 

    <%= f.text_field :rombel %> </br>

    <%= f.label :address %> </br> 

    <%= f.text_field :address %> </br>

     <%= f.label :city %> </br> 

    <%= f.text_field :city %> </br>

     <%= f.label :NIK %> </br> 

    <%= f.text_field :NIK %> </br>

    <%= f.submit "Save" %> 

    <%= link_to 'Back', students_path %> 

    

<% end %>