<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<% if flash[:notice].present? %>

<%= flash[:notice] %>

<% end %> </br>

<table class="table table-striped">

    <thead class="thead-dark">

    <tr>

        <th>Name</th>

        <th>Username</th>

        <th>Age</th>

        <th>Rombel</th>

        <th>Address</th>

        <th>City</th>

        <th>NIK<th>

    </tr>

    </thead>

    <tbody>

    <% @students.each do |student| %>

    <tr>

        <td><%= student.name %></td>

        <td><%= student.username %></td>

        <td><%= student.age %></td>

        <td><%= student.rombel %></td>

        <td><%= student.address %></td>

        <td><%= student.city %></td>

        <td><%= student.NIK %></td>

        <td><%= link_to 'Detail', student_path(student) %> | <%= link_to 'Edit', edit_student_path(student) %> | <%= link_to 'Delete', student_path(student) , method: :delete, data: {confirm: 'Apakah anda yakin?'} %></td>

        

    </tr>

    <% end %>

    </tbody>

</table> 

<%= link_to 'New Student', new_student_path() %>