<% if flash[:notice].present? %>

<%= flash[:notice] %>

<% end %> </br>

Name : <%= @student.name %> </br>

Username : <%= @student.username %> </br>

Age : <%= @student.age %> </br>

Rombel : <%= @student.rombel %> </br>

Address : <%= @student.address %> </br>

City : <%= @student.city %> </br>

NIK : <%= @student.NIK %> </br>

 <%= link_to 'Back', students_path %> 

