<h1>Teacher#index</h1>
<p>Find me in app/views/teacher/index.html.erb</p>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<% if flash[:notice].present? %>

<%= flash[:notice] %>

<% end %> </br>

<table class="table table-striped">

    <thead class="thead-dark">

    <tr>

        <th>NIK</th>

        <th>Name</th>

        <th>Age</th>

        <th>Kelas</th>

        <th>Mapel</th>


    </tr>

    </thead>

    <tbody>

    <% @teachers.each do |teacher| %>

    <tr>

        <td><%= teacher.NIK %></td>

        <td><%= teacher.name %></td>

        <td><%= teacher.age %></td>

        <td><%= teacher.kelas %></td>

        <td><%= teacher.mapel %></td>

        <td><%= link_to 'Detail', teacher_path(teacher) %> | <%= link_to 'Edit', edit_teacher_path(teacher) %> | <%= link_to 'Delete', teacher_path(teacher) , method: :delete, data: {confirm: 'Apakah anda yakin?'} %></td>

        

    </tr>

    <% end %>

    </tbody>

</table> 

<%= link_to 'New Teacher', new_teacher_path() %>