<% if flash[:notice].present? %>

<%= flash[:notice] %>

<% end %> </br>

Name : <%= @teacher.NIK %> </br>

Username : <%= @teacher.name %> </br>

Age : <%= @teacher.age %> </br>

Rombel : <%= @teacher.kelas %> </br>

Address : <%= @teacher.mapel %> </br>

 <%= link_to 'Back', teachers_path %> 

