<% if flash[:notice].present? %>

<%= flash[:notice] %>

<% end %> </br>

Name : <%= @exam.title %> </br>

Username : <%= @exam.mapel %> </br>

Age : <%= @exam.duration %> </br>

Rombel : <%= @exam.nilai %> </br>

Address : <%= @exam.keaktifan %> </br>

City : <%= @exam.level %> </br>

NIK : <%= @exam.student_id %> </br>

 <%= link_to 'Back', exams_path %> 

